* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color:darkslateblue;
}

.login-header {
    display: flex;
    font-size: 50px;
    justify-content: center;
    margin-top: 20%;
    color: white;
}

.go-n-create-account {
    display: flex;
    justify-content: center;
    margin-top: 12px;
    color: white;
}

.go-n-create-account #sign-up-link {
    padding-left: 5px;
}

.form {
    display: flexbox;
    justify-self: center;
    margin-top: 30px;
}

.form #email {
    border-width: 0px;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
    width: 230px;
    font-weight: bold;
}

.form #password {
    border-width: 0px;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
    width: 230px;
    font-weight: bold;
}

.form #login-button {
    display: flex;
    justify-content: center;
    border-width: 0px;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
    width: 241px;
    font-weight: bold;
    background-color:cornflowerblue
}